
.containerCardMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vw;

}

.cardLeft {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
 padding: 0;
  border-radius: 5vw;
  -webkit-border-radius: 5vw;
  -moz-border-radius: 5vw;
  -ms-border-radius: 5vw;
  -o-border-radius: 5vw;
  margin: 0;
}

.imageContainer{
  display: flex;
 
}

.imageContainer img{
    border-radius: 1vw;
    width: 20vw;
    height: 20vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
}



.imagensCarousel{

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding: 1vw;
  overflow:hidden;
}
.imagensCarousel img {
  border-radius: 0.5vw;
  display: flex;
  width: 5vw;
  height: 5vw;
  margin: 1vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
}

.cardRigth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 30vw;
  width: 30vw;
}



.rigthOne{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1vw;
  padding-left: 2vw;
  min-width: 20vw;
  min-height: 20vw;
  margin-left: 15vw;
  background-color: #ffffff;
  border: 1vh #4187AE;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}

.nameProduct{
  font-family: 'Inter';
  font-style: normal;
  font-size: 1vw;
  color: #009679;
  margin: 0;
  padding: 0;
 
}

.productDesciption{
  font-family: 'Inter';
  font-style: normal;
  color: #5A5A5A;
  margin-bottom: 1vw;
  padding: 0;
  font-size: 1vw;

}

.titlteMain{
  margin: 0;
  padding: 0;
}

.priceProductMain {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 1vw;
  font-size: 2vw;
  line-height: 1vw;
  text-align: center;
  text-decoration-line: underline;
  color: #FF0000;
  margin: 0;
  padding: 0;

}

.hprice{
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  text-decoration-line: none;
  padding: 0;
  margin: 0;

 
}

.seller{
  font-family: 'Inter';
  font-style: normal;
  color: #5A5A5A;
  font-size: 1vw;
  padding: 0;
  margin: 0;
}

.sellerName{
  font-family: 'Inter';
  font-style: normal;
  font-size: 1vw;
  color: #009679;

}

.rate{
  font-family: 'Inter';
  font-style: normal;
  color: #5A5A5A;
  font-size: 1vw;
  padding: 0;
  margin: 0;
}

.rateCantidad{
  font-family: 'Inter';
  font-style: normal;
  font-size: 1vw;
  color: #009679;
}
.containerButon{
  display: flex;
  padding: 0;
  margin-top: 5vh;
  margin-left: 15vw;
  height: 5vh;
}

.containerButon button{
  height: 6vh;
  background: #05B593;
  border: none;
  border-radius: 1.5vh;
  -webkit-border-radius: 1.5vh;
  -moz-border-radius: 1.5vh;
  -ms-border-radius: 1.5vh;
  -o-border-radius: 1.5vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight:4vh;
  font-size: 2vh;
  line-height: 1.5vh;
  color: #FFFFFF;
  width: 20vw;
}



