.containerCardMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10vh;


}

.cardLeft {
  display: flex;
  width: 50vw;
  height: 50vh;
  margin-right: 10vw;
  border-radius: 5vh;
  -webkit-border-radius: 5vh;
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
}

.imageContainer{
    width: 50vw;
    height: 50vh;
}

.imgContainer{
  border-radius: 1vw;
  max-width: 50vw;
  max-height: 50vh;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}

.cardRigth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}



.rigthOne{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
  padding: 1vh;
  min-width: 20vw;
  min-height: 40vh;
  margin-left: 15vw;
  background-color: #ffffff;
  border: 1vh #4187AE;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}

.nameProduct{
  font-family: 'Inter';
  font-style: normal;
  font-size: 3vh;
  color: #009679;
  height: 2vh;
  padding: 2vh;
  margin: 2vh 2vh 5vh 2vh
}

.nameproductType{
  font-family: 'Inter';
  font-style: normal;
  color: #5A5A5A;
  padding: 2vh;
  margin: 2vh 2vh 2vh 2vh;
  height: 5vh;
}

.titlteMain{
  margin: 0;
  padding: 0;
}

.priceProductMain {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 2vh;
  font-size: 4.4vh;
  line-height: 5.3vh;
  text-align: center;
  text-decoration-line: underline;
  color: #FF0000;
  padding: 2vh;
  margin: 2vh;
}

.hprice{
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  text-decoration-line: none;
  padding: 0;
  margin: 0;

 
}

.containerButon{
  display: flex;
  padding: 0;
  margin-top: 5vh;
  margin-left: 15vw;
  height: 5vh;
}

.containerButon button{
  height: 6vh;
  background: #05B593;
  border: none;
  border-radius: 1.5vh;
  -webkit-border-radius: 1.5vh;
  -moz-border-radius: 1.5vh;
  -ms-border-radius: 1.5vh;
  -o-border-radius: 1.5vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight:4vh;
  font-size: 2vh;
  line-height: 1.5vh;
  color: #FFFFFF;
  width: 20vw;
}



