.tarjetaProduct {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height:27.5vw;
  margin: 0px;
  background-color: #ffffff;
  margin: 4vw;
  border: 1px solid #4187AE;
  border-radius: 0.7vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 0.7vw;
  -ms-border-radius: 0.7vw;
  -o-border-radius: 0.7vw;
}


.card img{
width: 17vw;
height: 15vw;
margin-top: 0.09vw;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.productName{
font-family: 'Inter';
font-style: normal;
font-weight: 0.23vw;
font-size: 1.4vw;
line-height: 1.84vw;
text-align: center;
color: #181739;
margin: 0.28vw;
}

.hr{
width: 70%;
border: solid 0.25px #4187AE;
margin: 0.5vw;
margin-inline-start: auto;
margin-inline-end: auto;
}

.priceProduct{
margin: 0.56vw;
font-family: 'Inter';
font-style: normal;
font-weight: 0.94vw;
font-size: 1.8vw;
line-height: 2.5vw;
text-align: center;
text-decoration-line: underline;
color: #3DB448;
}

.butonAgregar{
justify-content: center;
margin-top: 0.8vw;
}

.butonAgregar button{
width: 15vw;
height: 2.8vw;
background: #05B593;
border: none;
border-radius: 0.7vw;
-webkit-border-radius: 2vw;
-moz-border-radius: 0.7vw;
-ms-border-radius: 0.7vw;
-o-border-radius: 0.7vw;
font-family: 'Inter';
font-style: normal;
font-weight:1.88vw;
font-size: 1.5vw;
line-height: 0.7vw;
color: #FFFFFF;
display: block;
margin: auto;
}






/*.tarjetaProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height:58vh;
    margin: 0px;
    background-color: #ffffff;
    margin: 6vh;
    border: 1px solid #4187AE;
    border-radius: 1.5vh;
    -webkit-border-radius: 1.5vh;
    -moz-border-radius: 1.5vh;
    -ms-border-radius: 1.5vh;
    -o-border-radius: 1.5vh;
}


.card img{
  width: 18vw;
  height: 30vh;
}

 */


/*
.productName{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 0.5vh;
  font-size: 3vh;
  line-height: 3.9vh;
  text-align: center;
  color: #181739;
  margin: 0.6vh;
}

.tarjetaProduct .hr{
  width: 70%;
  border: solid 0.25px #4187AE;
}

.priceProduct{
  margin: 1.2vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 2vh;
  font-size: 4.4vh;
  line-height: 5.3vh;
  text-align: center;
  text-decoration-line: underline;
  color: #3DB448;
}

.butonAgregar{
 margin-top: 1.2vh;
}

.butonAgregar button{
  width: 15vw;
  height: 6vh;
  background: #05B593;
  border: none;
  border-radius: 1.5vh;
  -webkit-border-radius: 1.5vh;
  -moz-border-radius: 1.5vh;
  -ms-border-radius: 1.5vh;
  -o-border-radius: 1.5vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight:4vh;
  font-size: 4vh;
  line-height: 1.5vh;
  color: #FFFFFF;
}
*/