/* TITULOS y FLECA*/
.nav-control {
  margin: auto 5vw;
  justify-content: space-between;
  display: flex;
}
#back-control {
  font-size: 2.5vw;
  margin: auto;
  text-decoration: none;
  color: #1f4e77;
  display: inline-flex;
  margin-left: 4vw;
}
#back-lk-control{
  text-decoration: none;
  margin-top: 5vw;
}
.title-control {
  text-align: center;
  color: #a0a0a0;
  font-size: 2vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  margin-left: none;
  margin-right: 5vw;
}
.title-control span {
  color: #047c64;
}


/*TARJETAS*/
.main-shop{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.card-control {
    width: 75vw;
    height: 11vw;
    color: white;
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
    overflow: visible;
   }
   
   .card-control .item {
    border-radius: 1vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .card-control .item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
   }
   
   .card-control .item--1 {
    background: #c7c7ff;
   }
   
   .card-control .item--2 {
    background: #f3bbe1;
   }
   
   .card-control .item--3 {
    background: #a9ecbf;
   }
   
   .card-control .item--4 {
    background: #ffd8be;
   }
   
   .card-control .item--1 {
    font-size: 2vw;
   }
   .card-control .item--2 {
    font-size: 2vw;
   }
   .card-control .item--3 {
    font-size: 2vw;
   }
   .card-control .item--4 {
    font-size: 2vw;
   }
   .card-control .quantity {
    font-size: 1.5vw;
    font-weight: 600;
    border: none;
   }
   
   .card-control .text {
    font-size: 1.3vw;
    font-family: inherit;
    font-weight: 600;
   }
   
   .card-control .text--1 {
    color: rgba(149,149,255,1);
    font-size: 1.30vw;
   }
   
   .card-control .text--2 {
    color: rgb(220, 91, 183,1);
    font-size: 1.30vw;
   }
   
   .card-control .text--3 {
    color: rgba(66,193,110,1);
    font-size: 1.30vw;
   }
   
   .card-control .text--4 {
    color: rgba(252,161,71,1);
    font-size: 1.30vw;
   }

.card-lk-control{
  text-decoration: none;
  width: 75vw;
}

.card-lk-control a {
  color: white;
}

.card-lk-control .quantity{
  color: white;
}

/*ULTIMO TARJETA, FUNCIÓN DESAPLAZAMIENTO ETC */
.card-p {
    width: 100%;
    height: 100%;
    transition: all .5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
               -15px -15px 30px rgba(60, 60, 60, 0.082);
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .card-p a{
    font-size: 2vw;
    text-decoration: none;
    color: #1d8122;
  }

  .card-p:hover {
    height: 18vw;
    background: linear-gradient(360deg, #ffffffc5 60%, hsla(0, 0%, 13%, 1) 70%);
  }
  
  .card-p .header {
    padding: 2.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #212121;
    margin-bottom: 1vw;
  }
  
  .card-p .header .img-box {
    width: 5vw;
  }

  .card-p .header .titlee {
    font-size: 1vw;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 0 14px 0;
    transition: all .5s;
    color: #edededc5;
  }
  
  .card-p:hover .header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  }
  
  .card-p:hover .card .header .title {
    padding: 0;
  }
  
  .card-p .content {
    display: block;
    text-align: justify;
    color: #212121;
    margin: 0 1vw;
  }
  
  .card-p .content p {
    transition: all .5s;
    font-size: 1em;
    margin-bottom: 1.4vw;
  }
  
  .card-p .content a {
    color: #1d8122;
    cursor: pointer;
    transition: all .5s;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .card .content .btn-link:hover {
    border-bottom: 1vw solid #1d6d81;
  }