.main-01-sale{
    margin-top: 1vw;
    margin-left: 1vw;
}
.nav-sale {
    margin: auto 5vw;
    justify-content: space-between;
    display: flex;
}

#back-sale {
    font-size: 2.5vw;
    margin: auto;
    text-decoration: none;
    color: #1f4e77;
    display: inline-flex;
    margin-left: 4vw;
}
#back-lk-sale{
    text-decoration: none;
    margin-top: 5vw;
}
.title-sale {
    text-align: center;
    color: #a0a0a0;
    margin-top: 3vw;
    font-size: 1.5vw;
    margin-left: none;
    margin-right: 5vw;
}
.title-sale span {
    color: #047c64;
}



/*margin: 2vw auto 3vw; original*/
.datable-sale {
    font-size: 1vw;
    background: #FBFBFB;
    margin: 2vw auto 4.1vw;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    border-radius: 15px;
    border-spacing: 0px;
}

.datable-sale th,
.datable-sale td {
    text-align: center;
}

.datable-sale thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
    background: #04B593;
    color: #FFFFFF;
}


.datable-sale tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th,
td {
    padding: 1vw 1vw;
    text-align: left;
    vertical-align: top;
}

th {
    font-size: larger;
}

.datable-sale td {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-weight: bold;
}

.datable-sale thead:first-child tr:first-child th:first-child,
.data-sale tbody:first-child tr:first-child td:first-child {
    border-radius: 15px 0 0 0;
}

.datable-sale thead:last-child tr:last-child th:first-child,
.datable-sale tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 15px;
}

.datable-sale th:first-of-type {
    border-top-left-radius: 15px;
}

th:last-of-type {
    border-top-right-radius: 15px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 15px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 15px;
}

.datable-sale {
    position: relative;
    height: 4vh;
    display: inline-block;
    text-align: center;
    font-size: 1.92vh;
    letter-spacing: 0.53vh;
    text-decoration: none;
    color: #0e0e0f;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 0.21vh solid #1daba8;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #04B593;
}
.btn-table a {
    text-decoration: none;
    color: inherit;
}

.btn-table-editar:hover {
    box-shadow: inset 0 -10.68vh 0 0 #ecd50e;
}

.btn-table-eliminar:hover {
    color: white;
    box-shadow: inset 0 -10.68vh 0 0 #c01f10;
}

.btn-table:active {
    transform: scale(0.9);
}


.pagination {
    margin-top: 1vw;
}

.pagination li {
    display: inline;
}

.pagination a {
    transition: ease-out 0.5s;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0.2vh 0.7vw;
    border: 0.21vh solid #1daba8;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #04B593;
}

.pagination a:hover {
    color: white;
    box-shadow: inset 0 -10.68vh 0 0 rgb(168, 88, 221);
}

.suma{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.textoSuma{
    font-size: 1.2vw;
    color: #a0a0a0;
    font-weight: bolder;
}


.sumaTotal{
    letter-spacing: 0.20vh;
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 1.2vw;
    text-decoration: none;
    color: #000000;
    background: white;
    border: 0.21vh solid #1daba8;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #04b593;
    margin-right: 8vw;
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.7vh 1vw;
}
