
 /*Carateristicas del cuadro visible que encierra todo*/
.cuadroPpal1 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    border-width: 0.13vw;
    border-radius: 1.3vw;
    border: solid 0.06vw rgb(0 0 0);
    width: 20vw;
    height: 15vw;
    box-shadow: 0 0.26vw 0.6vw 0.2vw rgb(0 0 0 / 35%);


}

.recuperar{
    position: relative;
    transition: 0.35s;
    margin: 1.3vw;
    width: 9.6vw;
    height: 2.3vw;
    border-radius: 0.6vw;
    box-shadow: 0 0.26vw 0.26vw 0 rgb(0 0 0 / 25%);
    border: none;
    background-color: #05b593;
    font-size: 0.9vw;
    color: white;
    cursor: pointer;
}

.recuperar:hover {
    background-color: #0a8169;
  }

.labelBoton{
    position: absolute;
    padding-top: 0.6vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.slide1{
    clear: both;
    width: 15vw;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    border-width: 0.13vw;
    backdrop-filter: blur(5px);
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 1vw;
  }

  #touch1 {
    position: absolute;
    opacity: 0;
    height: 0;
  }
  
#touch1:checked+.slide1 {
    max-height: 20vw;
  }
